.my-card{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.my-image{
    width: 200px !important;
    margin: 20px auto 0px auto;
}

.my-title{
    font-weight:bold;
}

.wikiLinks{
    margin-top:30px;
    text-align:left;
}

.wikiLinks a{
    color:darkolivegreen;
}
.wikiLinks a:hover{
    color:yellowgreen;
}
.wikiLinks li{
    margin-bottom: 5px;
}

